html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.sitecontainer {
  display: flex;
  max-width: 960px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

  .tabletsitecontainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }



/* Header */



.heading {
  display: flex;
  background-color: black;
  margin: auto;
  color: seashell;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.heading img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

span {
  padding-top: 0.25rem;
}



/* Banner */



.banner {
  display: flex;
  background-image: url("../images/mainbannerbckgrnd.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

  .bannerheadings {
    height: 9rem;
    width: 20rem;
    background-color: black;
    color: seashell;
    padding-left: 3rem;
    padding-top: 2rem;

  }

    .bannerspace {
      padding-top: 9rem;

    }

    .bannerheadings h3 {
      font-size: 1rem;
      color: seashell;
      font-weight: bold;
      padding-bottom: 0.25rem;
    }

    .bannerheadings h1 {
      font-size: 2rem;
      font-weight: bold;
      color: seashell;
    }



    /* Navigation */



    .navigation {
      background-color: firebrick;
      }

      a, a:visited {
        color: seashell;
        text-decoration: none;
      }

      nav {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-align: center;
      }

      .navigation span {
        padding: 3rem;
      }

      #menu {
        display: none;
        color: seashell;
        padding: 0rem;
        justify-content: center;
      }


/* Product Images */



      .allproducts {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 3rem;
      flex-shrink: 0;
      padding-bottom: 3rem;
      }

      .singleproduct {
        width: 100;
      }

      .singleproduct img {
        width: 50%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
      }

      .singleproduct p {
        color: seashell;
        background-color: black;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }


      /* Padding of the images relative to the borders */


      .penimage {
        padding-top: 4rem;
        padding-left: 4rem;
      }

      .watchimage {
        padding-top: 4.5rem;
        padding-left: 5rem;
      }

      .glassesimage {
        padding-top: 6rem;
        padding-left: 5rem;
      }


      /* Padding of the product names relative to the border */


      .productname {
        padding-top: 4.5rem;

      }

      #productnameglasses {
        padding-top: 5.5rem;
      }


      /* Border Characteristics */


      .productborder {
        border: solid black 4px;
        height: 16rem;
        width: 15rem;
      }


   /* Space between the borders of the images */


      #pen {
        padding-right: 3rem;

      }

      #watch {
        padding-right: 3rem;
      }


      /* Location and Hours */

      /* Location */


      .locationtitle {
        color: seashell;
        padding-left: 9rem;
      }

      .locbckgrnd {
        background-color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: ;
        width: 16.25rem;

      }

      .coordinates {
        padding-left: 9rem;
      }


      /* Hours */


      .hourstitle {
        color: seashell;
        padding-left: 0.50rem;
      }

      .hoursbckgrnd {
        background-color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        width: 16.25rem;
      }

      .time {
        padding-left: 0.5rem;
      }

      .hourstitleandtime {
        padding-left: 15.25rem;

      }


      /* Footer */


      footer {
        background-color: black;
        color: seashell;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

      .footer {
        padding-top: 4rem;
      }


      /* Media Query - Tablet */


      @media only screen and (max-width: 1024px) {

        nav span {
          display: none;
        }
        #menu {
          display: flex;
        }


        /* Product Images */



        .allproducts {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        flex-shrink: 0;
        padding-bottom: 3rem;
        max-width: 100%;
        padding-left: 1.5rem;
        }

        .singleproduct {
          width: 100%;
        }

        .singleproduct img {
          width: 50%;
          max-width: 100%;
          align-items: center;
          justify-content: center;
        }


        /* Padding of the images relative to the borders */


        .penimage {
          padding-top: 3.5rem;
          padding-left: 7rem;
          padding-bottom: 1.5rem;
        }

        .watchimage {
          padding-top: 4rem;
          padding-left: 9rem;
          padding-bottom: 2rem;

        }

        #glasses {
          display: none;
        }


        /* Padding of the product names relative to the border */


        .productname {
          padding-top: 0rem;
        }


        /* Border Characteristics */


        .productborder {
          border: solid black 4px;
          height: 16rem;
          width: 24.75rem;
        }

        /* Location and Hours */

        .loctitleandcoordinates {
          padding-right: 0rem;
        }

        .locationtitle {
          color: seashell;
          padding-left: 0rem;
        }

        .locbckgrnd {
          background-color: black;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 2rem;
          padding-right: 0rem;
          width: 15rem;
        }

        .coordinates {
          padding-left: 0rem;
        }


        /* Hours */


        .hourstitle {
          color: seashell;
          padding-left: 0rem;
        }

        .hoursbckgrnd {
          background-color: black;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 2rem;
          padding-right: 0rem;
          width: 15rem;
        }

        .time {
          padding-left: 0rem;
        }

        .hourstitleandtime {
          padding-left: 19.25rem;

        }

      }
